body {
    background-color: #c0dfd9;
}

.container {
    /* margin-top: 10%; */
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    background-color: #e9ece5;
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-superior{
    display: flex;
    flex-direction: row;   
    margin-bottom: 7.5px;
}

.box-inferior{
    margin-top: 7.5px;
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #201d3a;
    margin-right: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.box:hover {
    box-shadow: 0 4px 8px 0 #c0dfd9, 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

p{
    font-size: 5rem;
    margin: 25px;
    text-align: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin: 25px;
    text-align: center;
    color: #201d3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-style{
    font-size: 1rem;
    margin: 25px;
    text-align: center;
    color: #201d3a;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.botao-nova-casa
{
    margin-top: 20px;


}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button
{
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    width: 700px;
    position: relative;
    padding: 10px;
    margin: 20px auto 10px auto;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #201d3a;
    text-decoration: none;	
}

.green
{
    background-color: #e9ece5;;
   /* border-bottom: 5px solid #393842; */
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.action-button:active
{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.action-button:hover {
    background-color: #c0dfd9;
}